@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --color-fondo-body: #1B1B32;
    --color-fondo-header: #1B1B32;
    --color-fondo-blanco-transparente: #c0c0c041; 
    --color-texto-blanco: #E7F6F7;
    --fuente-roboto: 'Roboto Mono', monospace;
    --fuente-lato:'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-fondo-body);
}

#header {
    width: 100%;
    height: auto;
    background-color: var(--color-fondo-header);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.452);
    z-index: 1;
}

#header-img {
    width: 250px;
    height: auto;
    margin-left: 30px;
}
 
#nav-bar {
    padding-right: 60px;
}

ul, li {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    background-color: transparent;
    color: var(--color-texto-blanco);
    padding-left: 60px;
    text-decoration: none;
    font-family: var(--fuente-roboto);
    font-size: 20px;
    cursor: pointer;
}

main {
    position: relative;
    display: block;
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 20px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
    padding: 5px;
}

h2, h3 {
    color: var(--color-texto-blanco);
    font-family: var(--fuente-lato);
    text-align: center;
}

p {
    font-family: var(--fuente-lato);
    font-weight: 400;
    color: var(--color-texto-blanco);
    font-size: 20px;
    line-height: 1.6;
    margin-top: 40px;
}

#about, #services {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 100px; 
}

#contact {
    width: 480px;
    margin: 150px auto;

}
#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

iframe {
    margin: 20px auto;
}

article {
    width: 250px;
    height: 400px;
    background-color: var(--color-fondo-blanco-transparente);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#texto {
    padding: 0px 20px;
    line-height: 1.5;
    font-size: 18px;
}



#email, #submit {
    max-width: 500px;
    padding: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-family: var(--fuente-roboto);
    font-weight: 700;
    text-transform: uppercase;
}

#form{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

button {
    width: 220px;
    height: 40px;
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--fuente-roboto);
    display: flex;
    justify-content: center;
    padding: 4px;
    font-weight: 700;
} 

::placeholder {
    font-size: 20px;
}

@media (max-width: 900px) {
    #header {
        display: flex;
        flex-direction: column;  
        top: 0px;
    }

    main {
        position: relative;
        margin-top: 30px;
    }

    #about, #services, #contact {
        width: 480px;
        padding-top: 150px; 
    }

    p {
        padding: 0px 20px;
    }

    iframe {
        max-width: 90%;
    }


    #cards{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
    }

    article {
        margin: 0px auto 40px;

    }

    #form{
        max-width: 400px;
        margin: auto;
    }
    
    ::placeholder {
        font-size: 20px;
    }
}